@import '../styles/_mixins.scss';
@import '../styles/_variables.scss';


.not-found-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $color-blue-light; // cohérence avec ta palette
  color: $color-gray-dark;
  font-family: $font-family-base;
}

.not-found-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 2em;
    color: $color-blue-dark;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.1em;
    text-align: center;
    max-width: 600px;
    line-height: 1.5;
  }
}

/* 📱 Responsive avec mixins */
@include respond-to(md) {
  .not-found-content {
    padding: 20px;

    img {
      max-width: 80%;
    }

    h1 {
      font-size: 1.8em;
    }

    p {
      font-size: 1em;
    }
  }
}

@include respond-to(sm) {
  .not-found-content {
    padding: 15px;

    h1 {
      font-size: 1.6em;
    }

    p {
      font-size: 0.95em;
    }
  }
}